* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  padding: 0.5em 2em 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.theme {
  align-self: flex-end;
  padding: 0.25em;
  /* whitespace around the emoji 
  will make it look nicer*/
  background: #22272e;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
main {
  overflow: hidden;
  display: flex;
  height: 90vh;
  gap: 20px;
}
textarea {
  border: none;
  outline: none;
  background: inherit;
  color: inherit;
}

section {
  width: 100%;
}
textarea,
article {
  height: 95%;
  width: 100%;
  overflow: scroll;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}
.highlight {
  background: rgb(255, 255, 0);
  color: black;
  padding: 0 0.25em;
  /* 0 for top-bottom , 0.25em for left-right*/
}
ul,
ol {
  padding: 0 1.2em;
  /* this padding for left-right is very important
    otherwise list marks wont be visible */
}
a {
  color: #1988ff;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* dark/light mode */
.dark {
  background: #22272e;
  color: #eee;
}
body {
  /*below all existing css */
  transition: all 500ms ease;
}
